@charset "UTF-8";

//COLORS
$header: #A5D3DB;
$backsite: #fff;
$works: #95d3a4;
$team: #e1b7c5;
$templates: #F0F1F0;
$contact: #3C3C3C;


@font-face {
    font-family: 'Trump';
    src: url('../css/typo/Trump Town Pro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {font-family: 'Open Sans', sans-serif; background: $backsite;}
* {box-sizing: border-box;}
.main-wrapper {width: 80%; margin: 0 auto;}

//HEADER SECTION
.header {
  background-color: $header;
  .main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
  }
}

.header__logo {
  .header__logo-link {
    font-family: 'Trump';
    font-size: 50px;
    text-decoration: none;
    color: #3A494C;
    padding: 15px;
    .fa-heart{font-size: 45px;}
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 650px;
  .header__nav--link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #3A494C;
    padding: 15px 18px;
    border-radius: 10px;
    &:first-child {background-color: #3A494C; color: $header;}
    &:hover {background-color: #3A494C; color: $header;}
  }
}

//CAROUSEL SECTION
.section__carousel {
      background: $header;
      padding: 0 0 143px 0;
  .carousel-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}
.section__h2 {
    font-family: 'Trump';
    font-size: 80px;
    color: #fff;
    text-shadow: 1px 1px #aebec1;
}

.section__carousel-selectors {
  text-align: center;
  .carousel-tab {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 2px solid #fff;
    border-radius: 100%;
    &:first-child {
      background-color: #fff;
    }
    &:nth-child(2) {
    margin: 0 8px;
  }
  }
}

//PILARS SECTION
.section__pilars {
  padding: 112px 0;
  .pilars-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.pilars-section__box {
    text-align: center;
    flex-basis: 300px;
    .first-image {background: url("https://p.w3layouts.com/demos/colorful_flat/web/images/top-grid-pic1.png");}
    .second-image {background: url("https://p.w3layouts.com/demos/colorful_flat/web/images/top-grid-pic2.png");}
    .third-image {background: url("https://p.w3layouts.com/demos/colorful_flat/web/images/top-grid-pic4.png");}
    .section-box__img {
      height: 134px;
      background-position: center;
      background-repeat: no-repeat;
      a {display: block; width: 100%; height: 100%; }
    }
    .section-box__heading {
      margin: 20px 0;
      font-size: 20px;
      font-weight: 900;
    }
    .section-box__text {
      color: #5E5E5E;
      line-height: 24px;
      font-weight: 900;
    }
  }

.section__works {
  background: $works;
  padding: 77px 0 80px;
}

//SECTION TITLE && CLAIM
  .title {
    text-align: center;
    font-family: 'Trump';
    font-size: 72px;
    line-height: 80px;
    color: #fff;}
  .claim {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 38px;
    color: #eee;
    font-weight: 900;
    line-height: 22px;
  }

  .works-gallery__selector {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    flex-basis: 100px;
    flex-wrap: wrap;
    .gallery-selector__item {
      color: #fff;
      letter-spacing: -1px;
      padding: 10px 20px;
      text-decoration: none;
      &:first-child {
      background: #7EBD8C;
    }
  }
}

.works__gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .works__gallery--item {
    width: 22%;
    margin: 2% 2% 2% 0;
  img {
    display: block;
    width: 100%;
    }
  }
}

//SECTION__TEMPLATES
.section__templates {
  background: $templates;
  padding: 77px 0 80px;
  .templates__top-box {
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    .templates-box__text {
      margin-left: 2%;
      a {
        background-color: #9AD4A6;
      }
    }
  }
  .templates__bottom-box {
    padding-top: 60px;
    .templates-box__text {
      margin-right: 2%;
      }
       a {
         background-color: #A5D3DB;
       }
    }
}

.section__templates--box {
  display: flex;
  .templates-box__img {
    min-width: 336px;
    height:  268px;
    border-radius: 17px;
    background: url('https://p.w3layouts.com/demos/colorful_flat/web/images/blog-pic1.png') no-repeat;
  }
  .templates-box__text {
    .templates__text--heading {
      font-size: 30px;
      font-weight: 800;
      padding: 5px 0 20px;
      color: rgba(0,0,0,.6);
    }
    .templates__text--paragraph {
      font-size: 22px;
      line-height: 25px;
      padding-bottom: 30px;
      color: rgba(0,0,0,.7);
      font-weight: 400;
    }
    .templates__text--button {
      display: inline-block;
      padding: 25px 20px;
      border: none;
      border-radius: 10px;
      font-size: 20px;
      color: #fff;
      text-decoration: none;
    }
  }
}

//TEAM SECTION
.section__team {
    background: $team;
    padding: 77px 0 80px;
}

.team-wrapper {
  padding: 65px 0 0 0;
  display: flex;
}

.team-section__box {
  text-align: center;
  width: 33%;
  background-color: white;
  &:nth-child(2) {
    margin: 0 10%;
  }
  .profile-image {
    height: 213px;
    background-color: #E9E9E9;
    margin: 0 auto;
    a {
      display: block;
      height: 100%;
      width: 100%;
      background: url('https://p.w3layouts.com/demos/colorful_flat/web/images/people-pic.png') no-repeat;
      background-size: 80px 80px;
      background-position: center center;
    }
  }
   .section-box__name {
      background-color: #fff;
      padding: 20px 0 10px;
      font-size: 25px;
      font-weight: 900;
      font-family: 'Trump'
      }
  .section-box__charge {
    padding: 10px 0;
    font-weight: 900;
    font-size: 20px;
  }
  .section-box__text {
    padding: 10px;
    color: #8F8F8F;
    line-height: 22px;
    font-weight: 600;
  }
  .section__social {
    padding: 10px 0 30px 0;
    .section__social-item {
      padding: 10px;
      height: 46px;
      width: 47px;
      font-size: 30px;
      border-radius: 100%;
      color: #fff;
      &:nth-child(1) {background: #3234a3;}
      &:nth-child(2) {background: #4ba5fa; margin: 0 10px;}
      &:nth-child(3) {background: #ca0034;}
      }
    }
  }

//POSTS SECTION
.section__posts {
  background: #b7d5e0;
  padding: 77px 0 80px;
.posts-wrapper {
  padding: 65px 0 0 0;
  display: flex;
  justify-content: space-between;
  }
}

.posts-section__box {
  background: #fff;
  text-align: center;
  width: 30%;
  .posts-section__icon {
    background-color: #E9E9E9;
    margin: 0 auto;
    height: 213px;
    display: block;
    background-image: url("https://p.w3layouts.com/demos/colorful_flat/web/images/post-icon.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center center;}
    .section-box__heading {
      padding: 25px 0 5px 0;
      font-size: 30px;
      font-weight: 900;
    }
    .section-box__date {
      font-style: italic;
    }
    .section-box__paragraph {
      margin: 0 auto;
      padding: 15px 5px;
      color: #909090;
      width: 90%;
      font-weight: 900;
      line-height: 25px;
    }
  }

  .section__posts-cta {
    display: block;
    text-align: center;
    padding: 28px 70px;
    margin: 60px auto 0;
    background: #fff;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    color: rgba(0,0,0,0.6);
    letter-spacing: -.5px;
  }

///HERE
//CONTACT SECTION
  .section__contact {
      background: $contact;
      padding: 77px 0 80px;
      .title {color: #D3D0D0;}
      .claim {color: #D3D0D0;}
  }

  .contact__form {
    * {
      margin: 0 auto;
      display: block;
      border: none;
      border-radius: 10px;
    }
    .contact__form--name {
      height: 40px;
      margin-bottom: 20px;
      width: 60%;
    }
    .contact__form--email {
      height: 40px;
      margin-bottom: 20px;
      width: 60%;
    }
    .contact__form--message {
      height: 80px;
      margin-bottom: 20px;
      width: 60%;
    }
    .contact__form--button {
      padding: 30px;
    }
  }



//FOOTER SECTION
  .section__footer {
      background: $contact;
      padding: 77px 0 80px;
  }
