@charset "UTF-8";

@import 'colors'; //TO BE COMPLETED
@import 'layout';
@import 'fonts';

body {font-family: 'Open Sans', sans-serif; background: var(--backsite);}
* {box-sizing: border-box;}

//SHARED COMPONENTS
@import 'components/cf_main-wrapper';
@import 'components/cf_title';
@import 'components/cf_claim';

//HEADER SECTION
@import 'components/cf_header';
@import 'components/cf_header-logo';
@import 'components/cf_header-nav';

//CAROUSEL SECTION
@import 'components/cf_carousel-section';
@import 'components/cf_carousel_h2';
@import 'components/cf_carousel_img';
@import 'components/cf_carousel_selectors';

//PILARS SECTION
@import 'components/cf_pilars-section';
@import 'components/cf_pilars-section_box';

//SECTION WORKS
@import 'components/cf_works-section';
@import 'components/cf_works-gallery_selector';
@import 'components/cf_works_paragraph';
@import 'components/cf_works_gallery';

//SECTION_TEMPLATES
@import 'components/cf_templates-section';
@import 'components/cf_templates_top-box'; //INCLUDES BUTTON
@import 'components/cf_templates_bottom-box'; //INCLUDES BUTTON
@import 'components/cf_templates_img';
@import 'components/cf_templates-box_text';


//TEAM SECTION
@import 'components/cf_team-section';
@import 'components/cf_team_wrapper';
@import 'components/_cf_team-section_box';




//POSTS SECTION
.cf_posts-section {
  background: #b7d5e0;
  padding: 77px 0 80px;
.cf_posts-wrapper {
  padding: 65px 0 0 0;
  display: flex;
  justify-content: space-between;
  }
}

.cf_posts-section_box {
  background: #fff;
  text-align: center;
  width: 30%;
  .cf_posts-section_icon {
    background-color: #E9E9E9;
    margin: 0 auto;
    height: 213px;
    display: block;
    background-image: url("https://p.w3layouts.com/demos/colorful_flat/web/images/post-icon.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center center;}
    .cf_section-box_heading {
      padding: 25px 0 5px 0;
      font-size: 30px;
      font-weight: 900;
    }
    .cf_section-box_date {
      font-style: italic;
    }
    .cf_section-box_paragraph {
      margin: 0 auto;
      padding: 15px 5px;
      color: #909090;
      width: 90%;
      font-weight: 900;
      line-height: 25px;
    }
  }

  .cf_section_posts-cta {
    display: block;
    text-align: center;
    padding: 28px 70px;
    margin: 60px auto 0;
    background: #fff;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    color: rgba(0,0,0,0.6);
    letter-spacing: -.5px;
  }

//CONTACT SECTION
  .cf_contact-section {
      background: var(--contact);
      padding: 77px 0 80px;
      .cf_title {color: #D3D0D0;}
      .cf_claim {color: #D3D0D0;}
  }

  .cf_contact_form {
    * {
      margin: 0 auto;
      display: block;
      border: none;
      border-radius: 10px;
      outline: none;
      padding-left: 5px;
      font-size: 24px;
      background: #fff;
      &::placeholder {
        color: rgba(0,0,0,.4);
        font-weight: 400;
      }
    }
    .cf_contact_form-name {
      height: 70px;
      margin-bottom: 20px;
      padding-left: 20px;
      width: 60%;
    }
    .cf_contact_form-email {
      height: 70px;
      margin-bottom: 20px;
      padding-left: 20px;
      width: 60%;
    }
    .cf_contact_form-message {
      height: 220px;
      width: 60%;
      margin-bottom: 20px;
      padding-left: 20px;
      resize: none;
      padding-top: 16px;
    }
    .cf_contact_form-button {
      padding: 30px 70px;
      color: rgba(0,0,0,.6);
    }
  }

//FOOTER SECTION
  .cf_footer-section {
      background: var(--contact);
    .cf_footer-wrapper {
      border-top: .4px solid rgba(0,0,0,.2);
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

.cf_footer_nav-social {
  display: flex;
  justify-content: space-between;
  flex-basis: 250px;
  .cf_footer_nav-social-item {
    display: inline-block;
    text-decoration: none;
    font-size: 35px;
    color: var(--contact);
    background: rgba(225,225,225,.2);
    padding: 12px;
    border-radius: 100%;
    &:nth-child(2){
      padding: 12px 17px;
    }
  }
}

.cf_footer_legal {
  color: rgba(225,225,225,.6);
  padding: 12px 0;
  .cf_footer_legal-yellow {
    color: #FED67F;
  }
}
