:root {
  --header: #A5D3DB;
  --backsite: #fff;
  --works: #95d3a4;
  --team: #e1b7c5;
  --templates: #F0F1F0;
  --contact: #3C3C3C;
  --heading_text: #3A494C;
  --nav-link: #3A494C; }

@font-face {
  font-family: 'Trump';
  src: url("../css/typo/Trump Town Pro.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'Open Sans', sans-serif;
  background: var(--backsite); }

* {
  box-sizing: border-box; }

.cf_main-wrapper {
  margin: 0 auto;
  width: 100%; }
  @media only screen and (min-width: 765.01px) {
    .cf_main-wrapper {
      background: lavender;
      width: 90%; } }
  @media only screen and (min-width: 1178.01px) {
    .cf_main-wrapper {
      background: green;
      width: 80%; } }

.cf_header {
  background-color: var(--header); }
  .cf_header .cf_header-wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px 0; }
    @media only screen and (min-width: 765.01px) {
      .cf_header .cf_header-wrapper {
        background: lavender; } }
    @media only screen and (min-width: 1178.01px) {
      .cf_header .cf_header-wrapper {
        background: green;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; } }

.cf_header-logo {
  margin: 0 auto;
  padding-bottom: 10px; }
  @media only screen and (min-width: 1178.01px) {
    .cf_header-logo {
      background: green;
      margin: 0; } }
  .cf_header-logo .cf_header-logo_link {
    font-family: 'Trump';
    text-decoration: none;
    color: var(--heading_text);
    font-size: 50px; }
    @media only screen and (min-width: 765.01px) {
      .cf_header-logo .cf_header-logo_link {
        background: lavender; } }
    @media only screen and (min-width: 1178.01px) {
      .cf_header-logo .cf_header-logo_link {
        background: green; } }
    .cf_header-logo .cf_header-logo_link .fa-heart {
      font-size: 45px; }
      @media only screen and (min-width: 765.01px) {
        .cf_header-logo .cf_header-logo_link .fa-heart {
          background: lavender; } }
      @media only screen and (min-width: 1178.01px) {
        .cf_header-logo .cf_header-logo_link .fa-heart {
          background: green;
          font-size: 45px; } }

.cf_header_nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  @media only screen and (min-width: 765.01px) {
    .cf_header_nav {
      background: lavender;
      flex-direction: row; } }
  @media only screen and (min-width: 1178.01px) {
    .cf_header_nav {
      background: green; } }
  .cf_header_nav .cf_header_nav-link {
    display: block;
    text-decoration: none;
    color: var(--nav-link);
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 18px;
    border: 1px solid transparent; }
    @media only screen and (min-width: 765.01px) {
      .cf_header_nav .cf_header_nav-link {
        background: lavender;
        display: flex; } }
    @media only screen and (min-width: 1178.01px) {
      .cf_header_nav .cf_header_nav-link {
        background: green;
        margin-right: 5px; } }
    @media only screen and (min-width: 765.01px) {
      .cf_header_nav .cf_header_nav-link:first-child {
        background: lavender;
        background-color: var(--nav-link);
        color: var(--header); } }
    .cf_header_nav .cf_header_nav-link:hover {
      border: 1px solid var(--nav-link); }
      @media only screen and (min-width: 765.01px) {
        .cf_header_nav .cf_header_nav-link:hover {
          background: lavender;
          background-color: var(--nav-link);
          color: var(--header);
          border: 1px solid transparent; } }

.cf_carousel-section {
  background: var(--header);
  padding: 0 0 80px 0; }
  .cf_carousel-section .cf_carousel_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; }

.cf_section_h2 {
  font-family: 'Trump';
  text-shadow: 1px 1px #aebec1;
  display: block;
  margin: 0 auto;
  font-size: 60px;
  color: #fff;
  padding-bottom: 20px; }
  @media only screen and (min-width: 765.01px) {
    .cf_section_h2 {
      background: lavender;
      font-size: 60px; } }
  @media only screen and (min-width: 1178.01px) {
    .cf_section_h2 {
      background: green;
      display: flex;
      margin: 0;
      font-size: 80px; } }

.cf_section_img {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 325.1184834123223px;
  padding-bottom: 25px; }
  @media only screen and (min-width: 765.01px) {
    .cf_section_img {
      background: lavender;
      width: 422px;
      height: 343px; } }
  @media only screen and (min-width: 1178.01px) {
    .cf_section_img {
      background: green;
      margin: 0; } }

.cf_carousel_selectors {
  width: 85px;
  margin: 0 auto; }
  .cf_carousel_selectors .cf_carousel-tab {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 2px solid #fff;
    border-radius: 100%; }
    .cf_carousel_selectors .cf_carousel-tab:first-child {
      background-color: #fff; }
    .cf_carousel_selectors .cf_carousel-tab:nth-child(2) {
      margin: 0 8px; }

.cf_pilars-section {
  padding: 80px 0; }
  @media only screen and (min-width: 765.01px) {
    .cf_pilars-section {
      background: lavender;
      padding: 112px 0; } }
  .cf_pilars-section .cf_pilars-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; }
    @media only screen and (min-width: 765.01px) {
      .cf_pilars-section .cf_pilars-wrapper {
        background: lavender;
        justify-content: space-between;
        flex-direction: row; } }

.cf_pilars-section_box {
  text-align: center;
  flex-basis: 300px;
  max-width: 300px;
  margin: 0 auto; }
  .cf_pilars-section_box .cf_first-image {
    background: url("https://p.w3layouts.com/demos/colorful_flat/web/images/top-grid-pic1.png"); }
  .cf_pilars-section_box .cf_second-image {
    background: url("https://p.w3layouts.com/demos/colorful_flat/web/images/top-grid-pic2.png"); }
  .cf_pilars-section_box .cf_third-image {
    background: url("https://p.w3layouts.com/demos/colorful_flat/web/images/top-grid-pic4.png"); }
  .cf_pilars-section_box .cf_section-box_img {
    height: 134px;
    background-position: center;
    background-repeat: no-repeat; }
    .cf_pilars-section_box .cf_section-box_img a {
      display: block;
      width: 100%;
      height: 100%; }
  .cf_pilars-section_box .cf_section-box_heading {
    margin: 20px 0 12px;
    font-size: 20px;
    font-weight: 900; }
  .cf_pilars-section_box .cf_section-box_text {
    color: #5E5E5E;
    line-height: 24px;
    font-weight: 900; }

.section__works {
  background: var(--works);
  padding: 77px 0 80px; }

.title {
  text-align: center;
  font-family: 'Trump';
  font-size: 72px;
  line-height: 80px;
  color: #fff; }

.claim {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 38px;
  color: #eee;
  font-weight: 900;
  line-height: 22px; }

.works-gallery__selector {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  flex-basis: 100px;
  flex-wrap: wrap; }
  .works-gallery__selector .gallery-selector__item {
    color: #fff;
    letter-spacing: -1px;
    padding: 10px 20px;
    text-decoration: none; }
    .works-gallery__selector .gallery-selector__item:first-child {
      background: #7EBD8C; }

.works__gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .works__gallery .works__gallery--item {
    width: 22%;
    margin: 2% 2% 2% 0; }
    .works__gallery .works__gallery--item img {
      display: block;
      width: 100%; }

.section__templates {
  background: var(--templates);
  padding: 77px 0 80px; }
  .section__templates .templates__top-box {
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .section__templates .templates__top-box .templates-box__text {
      margin-left: 2%; }
      .section__templates .templates__top-box .templates-box__text a {
        background-color: #9AD4A6; }
  .section__templates .templates__bottom-box {
    padding-top: 60px; }
    .section__templates .templates__bottom-box .templates-box__text {
      margin-right: 2%; }
    .section__templates .templates__bottom-box a {
      background-color: #A5D3DB; }

.section__templates--box {
  display: flex; }
  .section__templates--box .templates-box__img {
    min-width: 336px;
    height: 268px;
    border-radius: 17px;
    background: url("https://p.w3layouts.com/demos/colorful_flat/web/images/blog-pic1.png") no-repeat; }
  .section__templates--box .templates-box__text .templates__text--heading {
    font-size: 30px;
    font-weight: 800;
    padding: 5px 0 20px;
    color: rgba(0, 0, 0, 0.6); }
  .section__templates--box .templates-box__text .templates__text--paragraph {
    font-size: 22px;
    line-height: 25px;
    padding-bottom: 30px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400; }
  .section__templates--box .templates-box__text .templates__text--button {
    display: inline-block;
    padding: 25px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color .2s ease-in-out; }
    .section__templates--box .templates-box__text .templates__text--button:hover {
      background-color: #000; }

.section__team {
  background: var(--team);
  padding: 77px 0 80px; }

.team-wrapper {
  padding: 65px 0 0 0;
  display: flex; }

.team-section__box {
  text-align: center;
  width: 33%;
  background-color: white; }
  .team-section__box:nth-child(2) {
    margin: 0 10%; }
  .team-section__box .profile-image {
    height: 213px;
    background-color: #E9E9E9;
    margin: 0 auto; }
    .team-section__box .profile-image a {
      display: block;
      height: 100%;
      width: 100%;
      background: url("https://p.w3layouts.com/demos/colorful_flat/web/images/people-pic.png") no-repeat;
      background-size: 80px 80px;
      background-position: center center; }
  .team-section__box .section-box__name {
    background-color: #fff;
    padding: 20px 0 10px;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Trump'; }
  .team-section__box .section-box__charge {
    padding: 10px 0;
    font-weight: 900;
    font-size: 20px; }
  .team-section__box .section-box__text {
    padding: 10px;
    color: #8F8F8F;
    line-height: 22px;
    font-weight: 600; }
  .team-section__box .section__social {
    padding: 10px 0 30px 0; }
    .team-section__box .section__social .section__social-item {
      padding: 10px;
      height: 46px;
      width: 47px;
      font-size: 30px;
      border-radius: 100%;
      color: #fff; }
      .team-section__box .section__social .section__social-item:nth-child(1) {
        background: #3234a3; }
      .team-section__box .section__social .section__social-item:nth-child(2) {
        background: #4ba5fa;
        margin: 0 10px; }
      .team-section__box .section__social .section__social-item:nth-child(3) {
        background: #ca0034; }

.section__posts {
  background: #b7d5e0;
  padding: 77px 0 80px; }
  .section__posts .posts-wrapper {
    padding: 65px 0 0 0;
    display: flex;
    justify-content: space-between; }

.posts-section__box {
  background: #fff;
  text-align: center;
  width: 30%; }
  .posts-section__box .posts-section__icon {
    background-color: #E9E9E9;
    margin: 0 auto;
    height: 213px;
    display: block;
    background-image: url("https://p.w3layouts.com/demos/colorful_flat/web/images/post-icon.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center center; }
  .posts-section__box .section-box__heading {
    padding: 25px 0 5px 0;
    font-size: 30px;
    font-weight: 900; }
  .posts-section__box .section-box__date {
    font-style: italic; }
  .posts-section__box .section-box__paragraph {
    margin: 0 auto;
    padding: 15px 5px;
    color: #909090;
    width: 90%;
    font-weight: 900;
    line-height: 25px; }

.section__posts-cta {
  display: block;
  text-align: center;
  padding: 28px 70px;
  margin: 60px auto 0;
  background: #fff;
  border: none;
  border-radius: 10px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: -.5px; }

.section__contact {
  background: var(--contact);
  padding: 77px 0 80px; }
  .section__contact .title {
    color: #D3D0D0; }
  .section__contact .claim {
    color: #D3D0D0; }

.contact__form * {
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 10px;
  outline: none;
  padding-left: 5px;
  font-size: 24px;
  background: #fff; }
  .contact__form *::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400; }
.contact__form .contact__form--name {
  height: 70px;
  margin-bottom: 20px;
  padding-left: 20px;
  width: 60%; }
.contact__form .contact__form--email {
  height: 70px;
  margin-bottom: 20px;
  padding-left: 20px;
  width: 60%; }
.contact__form .contact__form--message {
  height: 220px;
  width: 60%;
  margin-bottom: 20px;
  padding-left: 20px;
  resize: none;
  padding-top: 16px; }
.contact__form .contact__form--button {
  padding: 30px 70px;
  color: rgba(0, 0, 0, 0.6); }

.section__footer {
  background: var(--contact); }
  .section__footer .footer-wrapper {
    border-top: 0.4px solid rgba(0, 0, 0, 0.2);
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }

.footer__nav--social {
  display: flex;
  justify-content: space-between;
  flex-basis: 250px; }
  .footer__nav--social .footer__nav--social-item {
    display: inline-block;
    text-decoration: none;
    font-size: 35px;
    color: var(--contact);
    background: rgba(225, 225, 225, 0.2);
    padding: 12px;
    border-radius: 100%; }
    .footer__nav--social .footer__nav--social-item:nth-child(2) {
      padding: 12px 17px; }

.footer__legal {
  color: rgba(225, 225, 225, 0.6);
  padding: 12px 0; }
  .footer__legal .footer__legal--yellow {
    color: #FED67F; }

/*# sourceMappingURL=main.css.map */
