@charset "UTF-8";

@import 'colors'; //TO BE COMPLETED
@import 'layout';
@import 'fonts';

body {font-family: 'Open Sans', sans-serif; background: var(--backsite);}
* {box-sizing: border-box;}

//SHARED COMPONENTS
@import 'components/cf_main-wrapper';
@import 'components/cf_title';
@import 'components/cf_claim';

//HEADER SECTION
@import 'components/cf_header';
@import 'components/cf_header-logo';
@import 'components/cf_header-nav';

//CAROUSEL SECTION
@import 'components/cf_carousel-section';
@import 'components/cf_carousel_h2';
@import 'components/cf_carousel_img';
@import 'components/cf_carousel_selectors';

//PILARS SECTION
@import 'components/cf_pilars-section';
@import 'components/cf_pilars-section_box';


//SECTION WORKS
.section_works {
  background: var(--works);
  padding: 77px 0 80px;
}

  .works-gallery_selector {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    flex-basis: 100px;
    flex-wrap: wrap;
    .gallery-selector_item {
      color: #fff;
      letter-spacing: -1px;
      padding: 10px 20px;
      text-decoration: none;
      &:first-child {
      background: #7EBD8C;
    }
  }
}

.works_gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .works_gallery-item {
    width: 22%;
    margin: 2% 2% 2% 0;
  img {
    display: block;
    width: 100%;
    }
  }
}

//SECTION_TEMPLATES
.section_templates {
  background: var(--templates);
  padding: 77px 0 80px;
  .templates_top-box {
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    .templates-box_text {
      margin-left: 2%;
      a {
        background-color: #9AD4A6;
      }
    }
  }
  .templates_bottom-box {
    padding-top: 60px;
    .templates-box_text {
      margin-right: 2%;
      }
       a {
         background-color: #A5D3DB;
       }
    }
}

.section_templates-box {
  display: flex;
  .templates-box_img {
    min-width: 336px;
    height:  268px;
    border-radius: 17px;
    background: url('https://p.w3layouts.com/demos/colorful_flat/web/images/blog-pic1.png') no-repeat;
  }
  .templates-box_text {
    .templates_text-heading {
      font-size: 30px;
      font-weight: 800;
      padding: 5px 0 20px;
      color: rgba(0,0,0,.6);
    }
    .templates_text-paragraph {
      font-size: 22px;
      line-height: 25px;
      padding-bottom: 30px;
      color: rgba(0,0,0,.7);
      font-weight: 400;
    }
    .templates_text-button {
      display: inline-block;
      padding: 25px 20px;
      border: none;
      border-radius: 10px;
      font-size: 20px;
      color: #fff;
      text-decoration: none;
      transition: background-color .2s ease-in-out;
      &:hover {
       background-color: #000;
      }
    }
  }
}

//TEAM SECTION
.section_team {
    background: var(--team);
    padding: 77px 0 80px;
}

.team-wrapper {
  padding: 65px 0 0 0;
  display: flex;
}

.team-section_box {
  text-align: center;
  width: 33%;
  background-color: white;
  &:nth-child(2) {
    margin: 0 10%;
  }
  .profile-image {
    height: 213px;
    background-color: #E9E9E9;
    margin: 0 auto;
    a {
      display: block;
      height: 100%;
      width: 100%;
      background: url('https://p.w3layouts.com/demos/colorful_flat/web/images/people-pic.png') no-repeat;
      background-size: 80px 80px;
      background-position: center center;
    }
  }
   .section-box_name {
      background-color: #fff;
      padding: 20px 0 10px;
      font-size: 25px;
      font-weight: 900;
      font-family: 'Trump';
      }
  .section-box_charge {
    padding: 10px 0;
    font-weight: 900;
    font-size: 20px;
  }
  .section-box_text {
    padding: 10px;
    color: #8F8F8F;
    line-height: 22px;
    font-weight: 600;
  }
  .section_social {
    padding: 10px 0 30px 0;
    .section_social-item {
      padding: 10px;
      height: 46px;
      width: 47px;
      font-size: 30px;
      border-radius: 100%;
      color: #fff;
      &:nth-child(1) {background: #3234a3;}
      &:nth-child(2) {background: #4ba5fa; margin: 0 10px;}
      &:nth-child(3) {background: #ca0034;}
      }
    }
  }

//POSTS SECTION
.section_posts {
  background: #b7d5e0;
  padding: 77px 0 80px;
.posts-wrapper {
  padding: 65px 0 0 0;
  display: flex;
  justify-content: space-between;
  }
}

.posts-section_box {
  background: #fff;
  text-align: center;
  width: 30%;
  .posts-section_icon {
    background-color: #E9E9E9;
    margin: 0 auto;
    height: 213px;
    display: block;
    background-image: url("https://p.w3layouts.com/demos/colorful_flat/web/images/post-icon.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center center;}
    .section-box_heading {
      padding: 25px 0 5px 0;
      font-size: 30px;
      font-weight: 900;
    }
    .section-box_date {
      font-style: italic;
    }
    .section-box_paragraph {
      margin: 0 auto;
      padding: 15px 5px;
      color: #909090;
      width: 90%;
      font-weight: 900;
      line-height: 25px;
    }
  }

  .section_posts-cta {
    display: block;
    text-align: center;
    padding: 28px 70px;
    margin: 60px auto 0;
    background: #fff;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    color: rgba(0,0,0,0.6);
    letter-spacing: -.5px;
  }

//CONTACT SECTION
  .section_contact {
      background: var(--contact);
      padding: 77px 0 80px;
      .title {color: #D3D0D0;}
      .claim {color: #D3D0D0;}
  }

  .contact_form {
    * {
      margin: 0 auto;
      display: block;
      border: none;
      border-radius: 10px;
      outline: none;
      padding-left: 5px;
      font-size: 24px;
      background: #fff;
      &::placeholder {
        color: rgba(0,0,0,.4);
        font-weight: 400;
      }
    }
    .contact_form-name {
      height: 70px;
      margin-bottom: 20px;
      padding-left: 20px;
      width: 60%;
    }
    .contact_form-email {
      height: 70px;
      margin-bottom: 20px;
      padding-left: 20px;
      width: 60%;
    }
    .contact_form-message {
      height: 220px;
      width: 60%;
      margin-bottom: 20px;
      padding-left: 20px;
      resize: none;
      padding-top: 16px;
    }
    .contact_form-button {
      padding: 30px 70px;
      color: rgba(0,0,0,.6);
    }
  }

//FOOTER SECTION
  .section_footer {
      background: var(--contact);
    .footer-wrapper {
      border-top: .4px solid rgba(0,0,0,.2);
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

.footer_nav-social {
  display: flex;
  justify-content: space-between;
  flex-basis: 250px;
  .footer_nav-social-item {
    display: inline-block;
    text-decoration: none;
    font-size: 35px;
    color: var(--contact);
    background: rgba(225,225,225,.2);
    padding: 12px;
    border-radius: 100%;
    &:nth-child(2){
      padding: 12px 17px;
    }
  }
}

.footer_legal {
  color: rgba(225,225,225,.6);
  padding: 12px 0;
  .footer_legal-yellow {
    color: #FED67F;
  }
}
