.cf_templates_top-box {
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;  
  align-items: center;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  @include MQ(M) {
    flex-direction: row;
    align-items: left;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}
  .cf_templates-box_text {
    margin-left: 2%;
    a {
      background-color: #9AD4A6;
    }
  }
}
