
.cf_section_carousel {
  background: var(--header);
  padding: 0 0 80px 0;
  .cf_carousel_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}
