.cf_header-logo {
  margin: 0 auto;
  @include MQ(L){
  margin: 0;
  }
  .cf_header-logo_link {
    font-family: 'Trump';
    text-decoration: none;
    color: var(--heading_text);
    font-size: 50px;
    .fa-heart{font-size: 45px;
      @include MQ(M){}
      @include MQ(L){font-size: 45px;}
    }
  }
}
